# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
**/Untitled.ipynb

# Visual Studio
.vscode

# Data Files
*.csv
**/rawData/*

# Mac files
.DS_Store

#Extra files
not_to_commit/*
